<div class="container">
  <div class="box">
    <h2>Encomendas</h2>
    <table>
      <thead>
        <tr>
          <th>Bloco/Apt</th>
          <th>Descrição</th>
          <th>WhatsApp</th>
          <th>Status</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of encomendas">
          <td>{{ e.bloco }}/{{ e.apartamento }}</td>
          <td>{{ e.descricao }}</td>
          <td>{{ e.whatsapp }}</td>
          <td>{{ e.status }}</td>
          <td>
            <button *ngIf="e.status === 'Pendente'" (click)="retirar(e)">
              Marcar como Retirado
            </button>
          </td>
        </tr>
      </tbody>
    </table>
     <span #spnErro class="mensagem-erro" style="display:none;"></span>
  </div>
</div>

