* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f4f8; /* cinza claro */
  color: #111827;            /* texto em cinza escuro */
}


:root {
    font-size: 1255;
    font-family: 'Dm sans', sans-serif;

    --font-size-1: 0.75rem;
    --font-size-2: 1.50rem;
    --font-size-3: 1.75rem;
    --font-size-4: 2rem;

    --color-blue-1: #0a56da;
    --color-blue-2: #1532a7;

    --color-green-1: #1cdd16;
    --color-green-2: #2aac3b;

    --color-cinza-1: #c8cad1;
    --color-cinza-2: #555557;
}

.erro, .sucesso {
  display: flex;                 
  align-items: center;           
  justify-content: center;       
  gap: 8px;                      
  margin: 15px auto;
  padding: 12px 16px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 15px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  left: 0;
  right: 0;
  color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
  animation: fadeIn 0.4s ease-in-out;      
}

.erro {
  background-color: #dc2626; 
  border: 1px solid #ef4444;
}

.sucesso {
  background-color: #16a34a; 
  border: 1px solid #22c55e;
}

/* Animação de entrada */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
